<!-- Button to clear selection -->
<button (click)="clearSelection()">Clear Selection</button>
<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular>

<div>Binance BTCUSDT: {{ (symbol$ | async )?.p }}</div>
<div>Kraken BTCUSDT: {{ (krakenTicker$ | async)?.[0][0] }}</div>
<div>{{ getDiff((symbol$ | async )?.p, ((krakenTicker$ | async)?.[0][0] || 20000)).toFixed(2) }}%</div>


